body {
}

.priceGrid tr, .priceGrid td {
    border: 1px solid black;
}

.priceGrid tr:hover {
    background-color: #f5f5f5;
}

.priceGrid td{
    padding: 15px 40px;
}

.glyphicon-triangle-top, .glyphicon-ok{
    color: green;
    font-size:x-large;
    text-align:center;
}

.glyphicon-triangle-bottom{
    color:red;
    font-size:x-large;
    text-align:center;
}

.glyphicon-minus{
    color:darkorange;
    font-size:x-large;
    text-align:center;
}